<div>
    <p>
        <span style="color: rgb(0, 32, 96); font-family: Poppins; font-size: 20px;">
            <b><span style="font-family: Poppins;">1.Certified Accounting Technician – CAT</span></b>
        </span>
    </p>
    <p><span style="color: rgb(0, 32, 96); font-family: Poppins; font-size: 20px;"><b><span
                    style="font-family: Poppins;">Foundations in Accountancy</span></b>
        </span><br>
    </p>
    <p style="text-align: left; line-height: 1;">
        <font color="#333333" face="Khmer OS Battambang"><span style="font-size: 18px; font-family: Poppins;">Why study
                Certified Accounting Technician - CAT program with USEA?</span></font>
    </p>
    <p style="text-align: left; line-height: 1;"><span
            style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);">Upon successful
            completion of this program, candidates will receive a globally-recognized ACCA Diploma of Certified
            Accounting Technician- CAT and should be able to:</span>
        <font color="#333333" face="Khmer OS Battambang"><span
                style="font-size: 18px; font-family: Poppins;"><br></span>
        </font>
    </p>
    <ul class="content_vision" style="text-align: justify;">
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);">Describe the
                main types of business transactions and documentation and how these are recorded in an accounting system
                up to the trial balance stage</span></li>
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);"><span
                    style="font-size: 12pt; line-height: 107%; font-family: Poppins;">Explain how to provide basic
                    management information in an organization to support management in planning and decision
                    -making</span></span></li>
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);"><span
                    style="font-size: 12pt; line-height: 107%; font-family: Poppins;">• Understand and apply the
                    underlying principles and concepts relating to maintaining financial records and technical
                    proficiency in the use of double-entry accounting techniques including the preparation of basic
                    financial statements</span></span></li>
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);"><span
                    style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                        style="font-size: 12pt; line-height: 107%; font-family: Poppins;">• Describe how to prepare,
                        process and present basic cost information to support management in planning and decision-making
                        in a variety of business contexts</span></span></span></li>
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);"><span
                    style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                            style="font-size: 12pt; line-height: 107%; font-family: Poppins;">• Explain the business and
                            its environment and the influence this has on how organizations are structured and on the
                            role of the accounting and other key business functions contributing to the efficient,
                            effective and ethical management and development of an organization and its people and their
                            interaction with technology, data and information systems</span></span></span></span></li>
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);"><span
                    style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                            style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                style="font-size: 12pt; line-height: 107%; font-family: Poppins;">Apply management
                                accounting techniques to support management in planning, controlling and monitoring
                                performance in a variety of business contexts</span></span></span></span></span>
        </li>
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);"><span
                    style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                            style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                    style="font-size: 12pt; line-height: 107%; font-family: Poppins;">Explain and
                                    apply the underlying principles and concepts relating to financial accounting and
                                    technical proficiency in the use of double-entry accounting techniques including the
                                    preparation of basic financial statements</span><span
                                    style="font-size: 12pt; line-height: 107%; font-family: Poppins;">
                                </span></span></span></span></span></span></li>
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);"><span
                    style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                            style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                    style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                        style="font-size: 12pt; line-height: 107%; font-family: Poppins;">• Explain and
                                        apply the principles of external audit and the audit process and technical
                                        proficiency in the skills used for auditing financial
                                        statements</span></span></span></span></span></span></span></li>
        <li style="line-height: 1.5;"><span
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);"><span
                    style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                            style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                    style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                            style="font-size: 12pt; line-height: 107%; font-family: Poppins;">• Explain
                                            ways organizations finance their operations, plan and cash flows, optimize
                                            their use of working capital and allocate resources to long term investment
                                            projects.</span></span></span></span></span></span></span></span><br></li>
    </ul>
</div>
<div>
    <div style="text-align: justify;">
        <p><span
                style="color: rgb(0, 32, 96); font-family: Poppins; font-size: 20px; text-align: left;"><b>2.&nbsp;</b></span><b
                style="font-size: 1rem;"><span
                    style="font-size: 16pt; line-height: 115%; font-family: Poppins; color: rgb(0, 32, 96);">Terms and
                    Conditions for Awarding</span></b></p>
        <p><span lang="CA"
                style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);">University of
                South-East Asia (USEA), based in Siem
                Reap Province, has formally been awarded ACCA Computer Based Examination Centre
                License on 23 August 2021 and become ACCA become a place for every ACCA student
                from around the world to take ACCA courses and CBE exams in Siem Reap city.
                ACCA (The Association of Chartered Certified Accountant) is a global body for
                professional accountants, which operates its offices in more than 183 countries
                around the World.</span><b style="font-size: 1rem;"><span style="font-size:16.0pt;mso-bidi-font-size:24.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,serif;color:#002060"><br></span></b></p>
        <p class="MsoNormal" style="line-height: 115%;"><b><span style="font-size:16.0pt;mso-bidi-font-size:24.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;,serif;color:#002060">
                    <o:p></o:p>
                </span></b></p>
        <p><span
                style="font-weight: bolder; color: rgb(0, 32, 96); font-size: 20px; text-align: left; font-family: Poppins;">3.&nbsp;</span><b
                style="font-size: 1rem;"><span
                    style="font-size: 16pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);">Admission</span></b>
        </p>
        <p><span style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);">To register
                into the
                program, student must fulfill the following requirement:</span></p>
        <ul>
            <li><span style="font-size:12.0pt;mso-bidi-font-size:20.0pt;
line-height:107%;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;color:#002060;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:KHM"><span
                        style="font-size: 12pt; line-height: 107%; font-family: Poppins;">hold at least high
                        school certificate</span></span></li>
            <li><span style="font-size:12.0pt;mso-bidi-font-size:20.0pt;
line-height:107%;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;color:#002060;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:KHM"><span
                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                            style="font-size: 12pt; line-height: 107%; font-family: Poppins;">have knowledge of
                            English at intermediate level</span></span></span></li>
            <li><span style="font-size:12.0pt;mso-bidi-font-size:20.0pt;
line-height:107%;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;color:#002060;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:KHM"><span
                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                            style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                style="font-size: 12pt; line-height: 107%; font-family: Poppins;">pay ACCA registration
                                and annual subscription fees</span></span></span></span></li>
            <li><span style="font-size:12.0pt;mso-bidi-font-size:20.0pt;
line-height:107%;font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;color:#002060;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:KHM"><span
                        style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                            style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;"><span
                                    style="font-size: 12pt; line-height: 107%; font-family: Poppins;">pay tuition fees
                                    to
                                    International College at University of -East
                                    Asia.</span></span></span></span></span><span
                    style="color: rgb(0, 32, 96); font-family: Poppins; font-size: 20px; text-align: left;"><b><br></b></span>
            </li>
        </ul>
        <p class="MsoNormal" style="margin-left: 9pt;"><b><span style="font-size:16.0pt;mso-bidi-font-size:24.0pt;line-height:107%;font-family:
&quot;Times New Roman&quot;,serif;color:#002060">
                    <o:p></o:p>
                </span></b></p>
        <p class="MsoNormal" style="margin-left: 9pt;"><b><span lang="CA" style="font-size:16.0pt;mso-bidi-font-size:24.0pt;line-height:107%;
font-family:&quot;Times New Roman&quot;,serif;mso-bidi-font-family:DaunPenh;mso-bidi-theme-font:
minor-bidi;color:#002060;mso-ansi-language:CA">
                    <o:p></o:p>
                </span></b></p>
        <p><span
                style="font-weight: bolder; color: rgb(0, 32, 96); font-size: 20px; text-align: left; font-family: Poppins;">4.&nbsp;</span><span
                style="color: rgb(0, 32, 96); font-family: Poppins; font-size: 16pt; font-weight: bolder;">Curriculum</span>
        </p>
        <p><span lang="CA" style="font-size: 12pt; line-height: 107%; font-family: Poppins; color: rgb(0, 32, 96);">To
                complete ACCA World recognized Certified
                Accounting Technician - CAT program, you need to take ten courses with ACCA
                exams spending appropriately 2 years equivalent to 592 hours.</span><span
                style="color: rgb(0, 32, 96); font-family: Poppins; font-size: 20px; text-align: left;"><b><br></b></span>
        </p>
        <p class="MsoNormal" style="margin-left: 9pt;"><b><span style="font-size:16.0pt;mso-bidi-font-size:24.0pt;line-height:107%;font-family:
&quot;Times New Roman&quot;,serif;color:#002060">
                    <o:p></o:p>
                </span></b></p>
    </div>
</div>

<table class="table text-center">
    <thead>
        <tr>
            <th style="padding: 10px;"><span style="font-size: 18px; font-family: Poppins;">No</span></th>
            <th style="text-align: left; padding: 10px;"><span
                    style="font-size: 18px; font-family: Poppins;">Course</span></th>
            <th style="padding: 10px;"><span style="font-size: 18px; font-family: Poppins;">Hour/Week</span></th>
            <th style="padding: 10px;"><span style="font-size: 18px; font-family: Poppins;">Week</span></th>
            <th style="padding: 10px;"><span style="font-size: 18px; font-family: Poppins;">Total Hour</span></th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">1</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">FA1 - Recording Financial
                    Transaction</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">3</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">15</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">45</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">2</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">MA1 - Management
                    Information</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">3</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">15</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">45</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">3</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">FA2 - Maintaining
                    Financial Records</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">3</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">16</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">47</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">4</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">MA2 - Managing Costs and
                    Finance</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">3</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">16</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">47</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">5</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">FBT - Business and
                    Technology</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">4.5</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">17</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">75</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">6</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">FMA - Management
                    Accounting</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">4.5</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">17</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">75</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">7</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">FFA - Financial
                    Accounting</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">4.5</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">17</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">75</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">8</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">FAU - Foundation in
                    Audit</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">4.5</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">17</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">75</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">9</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">FFM- Foundation in
                    Financial Management</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">4.5</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">17</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">75</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">10</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">Foundations in
                    Professinalism</span><br></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;"></span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;"></span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">15</span></td>
        </tr>
        <tr>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">11</span></td>
            <td style="text-align: left;"><span style="font-size: 18px; font-family: Poppins;">ACCA CBE Exams</span><br>
            </td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;"></span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;"></span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">18</span></td>
        </tr>




        <tr>
            <td colspan="5">
                <hr>
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td style="text-align: left; "><span style="font-size: 18px; font-family: Poppins;">Total</span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;"></span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;"></span></td>
            <td style="text-align: center;"><span style="font-size: 18px; font-family: Poppins;">592</span></td>
        </tr>
    </tbody>

</table>